<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="CollegeEntities" connectionString="metadata=res://*/Data.Model.Model1.csdl|res://*/Data.Model.Model1.ssdl|res://*/Data.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=SERVER3\DBMS;initial catalog=&quot;Единый колледж&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="cn" connectionString="Data Source=SERVER3\DBMS;Initial Catalog=&quot;Единый колледж&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="cn2" connectionString="Data Source=SERVER3\DBMS;Initial Catalog=&quot;Единый колледж (НИКОМУ НЕ ТРОГАТЬ)&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="cn3" connectionString="Data Source=SERVER3\DBMS;Initial Catalog=&quot;Архив контингента учащихся&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <add name="CollegeEntities" connectionString="metadata=res://*/Data.Model.Model1.csdl|res://*/Data.Model.Model1.ssdl|res://*/Data.Model.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=SERVER3\DBMS;initial catalog=&quot;Единый колледж&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
	  <!--<add name="cn" connectionString="Data Source=SERVER3\DBMS;Initial Catalog=&quot;Единый колледж&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->

	  <add name="cn" connectionString="Data Source=Honor;Initial Catalog=&quot;Единый колледж&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>